@page "/Account/ConfirmEmail"

@using System.Text
@using BX.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities

@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
<StatusMessage Message="@statusMessage" />

@code {
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (UserId is null || Code is null)
        {
            RedirectManager.RedirectTo("");
        }

        var httpClient = new HttpClient();
        var response = await httpClient.GetAsync($"https://localhost:7164/AuthUser/ConfirmEmail?userId={UserId}&code={Code}");
        var result = await response.Content.ReadAsStringAsync();

        statusMessage = response.IsSuccessStatusCode ? result : result; //Ok response (success message) : Bad response (failure message)

        await Task.Delay(5000);
        NavigationManager.NavigateTo("/Account/Login");
    }
}
